aniso8601==8.0.0
APScheduler==3.6.3
astroid==2.4.2
authy==2.2.6
backcall==0.2.0
bcrypt==3.2.0
blinker==1.4
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
Flask==0.12
Flask-Login==0.5.0
Flask-Mail==0.9.0
Flask-ReCaptcha==0.4.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.0
idna==3.2
importlib-metadata==4.6.1
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
pycparser==2.20
PyJWT==1.7.1
pyotp==2.6.0
pytz==2021.1
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.22
twilio==6.62.1
typed-ast==1.4.3
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.26.6
Werkzeug==2.0.1
wrapt==1.12.1
WTForms==2.3.3
zipp==3.5.0
insecure-package==0.1
