{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content%}

<script src='https://www.google.com/recaptcha/api.js'></script>

<form id="login-form">
  <br>
  <h3 align="center">Login</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control disable-autocomplete"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control disable-autocomplete"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <div class="g-recaptcha" data-sitekey="6LeR6oIbAAAAAHsAh_-_l-BlfrDHaK-1icttf8nq" data-callback="verifyCaptcha"></div>
  <div id="g-recaptcha-error"></div>
  <br/>
  <button type="button" id="login-button" class="btn btn-primary" >Login</button>
</form>
{% endblock %}
